
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

:root {
  --color-type: #F9F9FB;
	--color-dark: #0B0F2F;
	--color-primary: #5C57AE;
	--color-secondary: #2C2958;
}

html, body {
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
	background-color: var(--color-dark);
	scroll-behavior: smooth;
}


h1.wordmark {
  font-family: 'Comfortaa', cursive;
  font-size: 80px;
	color: var(--color-dark);
}

h2.wordmark{
	color: var(--color-dark);
	line-height: 80%;
	font-size: 4rem;
}

h1 {
  font-size: 6.3rem;
  color: var(--color-type);
  font-weight: 300;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 5rem;
  color: var(--color-type);
  font-weight: 300;
  line-height: 40px;
	line-height: 110%;
  /* text-align: left; */
}

h3 {
  font-size: 3rem;
  color: var(--color-type);
  font-weight: 300;
  line-height: 48px;
  /* text-align: center; */
}

h4 {
  font-size: 1.8rem;
  color: var(--color-type);
  font-weight: 400;
  line-height: 24px;
  /* text-align: center; */
}

p {
	color: var(--color-type);
	padding: 40px 0 20px 0;
	font-size: 2rem;
	font-weight: 200;
	/* text-align: center; */
}

a {
	text-decoration: none;
}

.hero-wrap {
	background: url("images/thinker.png") no-repeat center center;
	background-size: cover;
	height: 100vh;
	padding: 30px 80px 30px 80px;
}

.hero-wrap h2 {
	width: 50%;
	padding: 20px 0;
}

.hero-wrap h3 {
	font-size: 2.6rem;
	letter-spacing: 4px;
}

.hero-wrap img {
	padding: 20px 0 30px 0;
}

.btn {
	display: flex;
	align-items: flex-start;
}

.btn > * {
	padding-right: 15px;
}

.feature-wrap {
	/* display: grid;
	grid-template-columns: 1fr 1fr; */
}

.feature {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 120px 80px;
	flex-wrap: wrap;
}

.feature > * {
	/* max-width: 300px; */
}

.feature-b {
	flex-direction: row-reverse;
	background-color: var(--color-secondary);
}

.feature-text {
	width: 50%;
	padding: 0 30px 0 0;
}

.feature img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

img.factors {
	max-width: 240px;
}

footer {
	background-color: var(--color-primary);
	height: 330px;
	text-align: center;
	padding: 20px 0;
}

footer img {
	padding-top: 40px;
}

footer h1 {
	font-size: 3rem;
}

.foot {
	background-color: var(--color-dark);
	height: 35px;
	padding: 2rem 0 0 0rem;
	color: var(--color-primary);
	text-align: center;
}

/* tablet */

@media (min-width: 768px) and (max-width: 1024px) {

	.feature {
		padding: 90px 30px;
	}

	.feature-text {
		width: 300px;
		padding: 70px 20px;
	}

}

/* phone */

@media (max-width: 768px) {

	h1.wordmark {
		font-size: 4.6rem;
	}

	h2.wordmark {
		font-size: 3rem;
		width: 100%;
	}

	.btn h3{
		font-size: 2rem;
		padding-bottom: 20px;
	}

	.hero-wrap h2 {
		font-size: 3rem;
	}

	.hero-wrap .cta {
		width: 120px;
	}

	.logo {
		width: 130px;
	}

	.hero-wrap {
		padding: 20px 20px;
	}

	.feature {
		padding: 70px 20px 70px 20px;
	}

	.feature-text {
		width: 300px;
		padding: 0 0 50px 0;
	}

	.feature img {
		width: 220px;
	}

	img.factors {
		max-width: 180px;
	}
}
